<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .input_div{
            margin-bottom: 25px;
        }
        .input_div>label{
            font-size: 20px;
            height: 40px;
            margin-bottom: 10px;
        }
        .input_div>input{
            width: 100%;
            height: 40px;
        }
        .button_div>button{
            font-size: 30px;
        }
    </style>
</head>
<body>
{% if msg %}
    {{ msg }}
{% endif %}
<div class="head_div">
    <h1 class="register_h1">注册</h1>
    <form action="#" method="post">
    {% csrf_token %}
    <div class="input_div">
        <label for="">用户名:</label>
        <input type="text" name="username" placeholder="请输入您的用户名" required>
    </div>
    <div class="input_div">
        <label for="">邮箱:</label>
        <input type="email" name="email" placeholder="请输入您的邮箱" required>
    </div>
    <div class="input_div">
        <label for="">手机号:</label>
        <input type="number" name="phone" pattern="^(13\d|14[5|7]|15\d|166|17[3|6|7]|18\d)\d{8}$" placeholder="请输入您的手机号" required>
    </div>
    <div class="input_div">
        <label for="">密码:</label>
        <input type="password" name="password" placeholder="请输入密码" data-error="密码最小长度为6位" required>
    </div>
    <div class="input_div">
        <label for="">确认密码:</label>
        <input type="password" name="confirm_password" placeholder="请再次输入密码" data-error="两次输入不一致" required>
    </div>
    <div class="button_div">
        <button type="submit">注册</button>
    </div>
</form>
</div>
</body>
</html>